#buttonPlayGame{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #171717;
    padding: 1em 2em;
    border: none;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  
  #buttonPlayGame span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 80px;
    background-color: #0c66ed;
    border-radius: 50%;
    transition: .6s ease;
  }
  
  #buttonPlayGame span:nth-child(6) {
    position: relative;
  }
  
  #buttonPlayGame span:nth-child(1) {
    transform: translate(-3.3em, -4em);
  }
  
  #buttonPlayGame span:nth-child(2) {
    transform: translate(-6em, 1.3em);
  }
  
  #buttonPlayGame span:nth-child(3) {
    transform: translate(-.2em, 1.8em);
  }
  
  #buttonPlayGame span:nth-child(4) {
    transform: translate(3.5em, 1.4em);
  }
  
  #buttonPlayGame span:nth-child(5) {
    transform: translate(3.5em, -3.8em);
  }
  
  #buttonPlayGame:hover span:not(:nth-child(6)) {
    transform: translate(-50%, -50%) scale(4);
    transition: 1.5s ease;
  }
    


  /* botones de configuracion */
  .switch {
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --bg-color-alt: #666;
    --main-color: #323232;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 50px;
    height: 20px;
  }
  .switch:hover{
    transform: scale(1.3);
    transition: transform .2s;
  }
  .toggle {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-colorcolor);
    transition: 0.3s;
  }
  
  .slider:before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    left: -2px;
    bottom: 2px;
    background-color: var(--bg-color);
    box-shadow: 0 3px 0 var(--main-color);
    transition: 0.3s;
  }
  
  .toggle:checked + .slider {
    background-color: var(--input-focus);
  }
  
  .toggle:checked + .slider:before {
    transform: translateX(30px);
  }