/* funciones mostrar y ocultar paginas */
.mostrar {
  display: block;
  animation: circle-in-hesitate 2s ;
}
.mostrar_ModeFlex{
  display: block;
  display: flex;
  animation:circle-in-hesitate 2s ;
}
.mostrarAvatar{
  animation: circle-in-center 2s;
}
.ocultar{
  display: none;
}
img{
  pointer-events: none;
}


[transition-style="in:wipe:left"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-left both;
}
/* estilos universales */
body{
  height: 100%;
  width: 100%;
  background-color: #D2FCFF;
}
/* pagina de configuracion */
#block0{
  width: 100%;
  position: relative;
  height: 43pc;
  padding-top: 20px;
  flex-direction: column;
  text-align: center;
  background-image: radial-gradient(circle, #7eb1db, #6796c1, #507da8, #3a648e, #244c76);
}
#block0 h1{
  margin-bottom: 30px;
  font-family: 'Staatliches', cursive;
  font-size: 40px;
}
#block0 h2{
  color: white;
  font-family: 'Staatliches', cursive;
  width: 50%;
  font-size: 30px;
  margin: 0 auto;
  background-color: #244C76;
  padding:1%;
  border-radius: 11px;
  margin-bottom: 10px;
}
#block0 span #contentMusicaOptions{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cbe5ffcc;
  width: 20%;
  height: 200px;
  border-radius: 11px;
  margin: 0 auto;
}
#block0 span #contentMusicaOptions p{
  color: rgb(0, 0, 0);
  margin-top: 20px;
  font-family: 'Staatliches', cursive;
  font-size: 30px;
  margin-bottom: 10px;
}

#block0 #salirMenu{
  width: 100px;
  position: absolute;
  top:40px;
  left: 40px;
  cursor: pointer;
  pointer-events: painted;
}
#block0 #salirMenu:hover{
  filter: invert(100%);
}
/* estilo pantalla de presentacion */
#block1{
  width: 100%;
  height: 43pc;
  background-image: url(../img/fondoBlock0.png);
  background-size: 100%;
  background-repeat: no-repeat;
  justify-content: space-around;
}
.settingsButton{
  cursor: pointer;
  position:absolute;
  color: white;
  top: 85px;
  left: 90px;
  width:40px;
  height:40px;
}
#block1 .containerTitlesGame{
  padding: 10% 0 0 3.5%;
  display: flex;
  max-width: 600px;
  text-align: left;
  flex-direction: column;
  align-items:flex-start;
}
#block1 .containerTitlesGame h1{
  width: 100%;
  color: white;
  letter-spacing: 10px;
  font-size: 120px;
  font-family: 'Staatliches', cursive;

  font-weight: 900;
  margin-bottom: 50px;
}
#block1 .containerTitlesGame p{
  white-space: nowrap;
  border-right: 4px solid;
  font-family: 'DM Sans', sans-serif;
  width: 41ch;
  color: white;
  font-size: 34px;
  font-weight: 600;
  animation: typing 10s steps(50),blink .5s infinite step-end alternate;
  overflow: hidden ;
  margin-bottom: 20px;
}
#block1 .containerTitlesGame img{
  width: 100px;
  height: 50px;
  cursor: pointer;
  transform: rotate(180deg);
  filter: invert(100%);
  pointer-events: painted;
}
#block1 .containerTitlesGame img:hover{
  filter: invert(0%);
  transform: rotate(180deg);
  transition: transform .2s;
}

/* estilo pantalla principal */
#block2{
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height:43pc;
  padding-top:30px ;
  background-image: url(../img/fondoBlock1.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

 /* seleccion de cantidad jugadores  */
#block2 #titleGame{
margin-bottom: 50px;
text-align: center;
color: #fff;
}
#block2 #titleGame h1{
  font-size: 70px;
  font-weight: 700;
  font-family: 'Staatliches', cursive;
  letter-spacing: 10px;
}
#block2 #titleGame h2{
  font-size: 30px;
  font-family: 'DM Sans', sans-serif;

}
/* numsPlayersTitle */

    /* presentacion de avatares disponibles  */
  #block2  #contenedorPerfilesParticipantes{
    display: flex;
    text-align: center;
    width: 90%;
    margin: 50px auto 200px;
    justify-content: space-around;
  }
  #block2  #contenedorPerfilesParticipantes span{
    flex-direction: column;
    justify-content: center;
    max-width: 200px;
    max-height: 150px;
  }
  #block2  #contenedorPerfilesParticipantes .numsPlayersTitle{
    background-color: #244c76;
    font-family: 'DM Sans', sans-serif;
    padding: 5%;
    width: 70%;
    margin: 0 auto;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    border-radius: 11px;
  }
  #block2  #contenedorPerfilesParticipantes span img{
    max-width: 100px;

    pointer-events: painted;

    cursor: pointer;
    max-height: 90px;
    margin-top: 30px;
  }
  #block2  #contenedorPerfilesParticipantes span img:hover{
    transform: scale(1.3);
    transition: transform .2s;


  }
  #block2  #contenedorPerfilesParticipantes span input{
    background:transparent;
    font-weight: 700;
    padding: 2%;
    border-radius: 11px;
    width: 175px;
    margin-top: 20px;
    border: none;
    text-align: center;
    color: #fff;
    font-size: 20px;

  }

  #block2 #opcionesMenuPrincipal{
    display: flex;
    width: 90%;
    height: 10%;
    margin: 0 auto 80% auto;
    justify-content: space-between;
  }
  #block2 #opcionesMenuPrincipal #contenedorNumVueltas select{
    background-color:#244C76;
    border:1px white double;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    cursor:pointer ;
  }
  #block2 #opcionesMenuPrincipal #buttonPlayGame{
    background-color:#244C76;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    justify-content: center;
    border-radius: 40px;
    border: none;
    font-weight: 700;
    margin-top: 10px;
    padding: 2%;
    width: 300px;
    height: 50px;
  }
  #block2 #opcionesMenuPrincipal #contenedorNumParticipantes,
   #block2 #opcionesMenuPrincipal #contenedorNumVueltas {
    
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  #block2 #opcionesMenuPrincipal #contenedorNumParticipantes .titlesLaps_NumPlayers,
  #block2 #opcionesMenuPrincipal #contenedorNumVueltas .titlesLaps_NumPlayers{
    background-color: #244C76;
    color: #fff;
    border:1px #fff double;
    padding: 1%;
    margin-bottom: 10px;
  }
  #block2 #opcionesMenuPrincipal #contenedorNumParticipantes span:nth-child(2){
    display: flex;
    height: 300px;
    justify-content: space-around;
  }
  #block2 #opcionesMenuPrincipal #contenedorNumParticipantes span:nth-child(2) button {
    background-color: #244C76;
    cursor: pointer;
    width: 40px;
    border-radius: 50%;
    color: #fff;
    font-weight: 800;
    border: none;
    padding: 1%;
  }
    #block2 #opcionesMenuPrincipal #contenedorNumParticipantes span:nth-child(2) button:first-child{
    background-color: white;
    color: #244C76;    
  }

/* estilos de tabla de juegos */
#block3{
  height: 43pc;
  background-color: #7EB1DB;
   background-image: url(../img/fondoTablero.png);
  background-repeat: no-repeat;
  background-size:85%;
  background-position-y: 55px;
  background-position-x:-15px ;
}
#tableGame {
  display:flex ;
  justify-content: center;
  position: relative;
    border-collapse: collapse;
    width: 100%;
    margin: auto;
  }
  #dado {
    width: 90px;
    height: 100px;
    cursor: pointer;
    font-size: 18px;
    border: none;
    background: transparent;
    display: block;
  }
  #dado img{
    width: 80px;
  }
   #tableGame tr{
    display: flex;
  } 
  #tableGame td {
    height: 110px;
    width: 110px;
    text-align: center;
    position: relative;
    border:none;
  }
.settingsButton_TablePage{
  cursor: pointer;
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  width:50px;
  height:40px;
}


  /* posicion de fichas en casillas */
  #tableGame td .iconsPlayers{
    width: 50px;
    margin: 0%;
    position: absolute;
  }
  #tableGame td #iconPlayer1{
    top: 5px;
    left: 5px;
  }
  #tableGame td #iconPlayer2{
    top: 5px;
    right: 5px;
    
  }
  #tableGame td #iconPlayer3{
    bottom: 5px;
    left: 5px;
  }
  #tableGame td #iconPlayer4{
    bottom: 5px;
    right: 5px;
  }

  #tableGame .espaciosVacios{
    border:none;
    height: 0px;
  }
  .preguntasNormales,.preguntasBomba,.preguntasDificiles,.casillaFree,.casillaGo{
    background-color: red;
    background-repeat: no-repeat;
    background-size: 85%;
    background-position-x: 8px;
    background-position-y: 0px;
  }
  
  /* estilos casillas por su tipo */
   #tableGame  .casillasNormales{
    background-color: #A5EEF4;
  } 
  #tableGame .preguntasNormales{
    background-color: #D2FCFF; 
    background-image: url(../img/casillas/casilla\ trivia.png);
  }
  #tableGame .preguntasBomba{
    background-color: #D2C7FF;
    background-image: url(../img/casillas/casilla\ retos.png);
  }
  #tableGame .preguntasDificiles{
    background-color: #FF849C;
    background-image: url(../img/casillas/casilla\ peligro.png);
  }
  
  #tableGame .casillaGo{
    background-color: #244C76;
    background-image: url(../img/casillas/casilla\ inicio.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: 5px;
    background-position-y: 0px;
    
  }
  #tableGame .casillaFree{
    background-color: #244C76;
    
    background-image: url(../img/casillas/casilla\ free.png);
  }

  #centerTable{
    position: relative;
  }

#contenedorInfoRondas{
  display: flex;
  position: absolute;
  top: -70px;
  left: -400px;
  width: 1000px;
  height: 150px;
  flex-direction: column;
  align-items: center;
}
#contenedorInfoRondas #titleRonda{
  color: white;
  display: flex;
  width: 70%;
  justify-content: space-around;
  font-weight: 800;
  font-family: 'Staatliches', cursive;
  font-size: 40px;
  margin-bottom: 40px;
  letter-spacing: 7px;
}
#contenedorInfoRondas #contenedorInfoRondas_Players{
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 20px;
}
#contenedorInfoRondas #contenedorInfoRondas_Players span{
  width: 200px;
  display: none;
  border-radius: 11px;
  align-items: center;
  flex-direction: column;
}
#contenedorInfoRondas #contenedorInfoRondas_Players span img{
  width: 50%;
  margin-bottom: 20px;
}
#contenedorInfoRondas #contenedorInfoRondas_Players span p{
  color: white;
  font-size: 20px;
    font-family: 'DM Sans', sans-serif;
  margin-bottom: 10px;
  font-weight: 900;
  cursor:default;
}

  /* pagina de ganadores */
  #block4{
    height: 43pc;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #7EB1DB;
    background-image: url(../img/podio/fondo\ podio.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  #block4 h1{
    font-size: 70px;
    font-weight: 700;
    font-family: 'Staatliches', cursive;
    color: white;
  }
  #block4 div{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    width: 90%;
    height: 50%;
  }
  #block4 div span{
    height: 100%;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

  #block4 div span h2{
    background-color: #244C76;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 20px;
    font-family: 'DM Sans', sans-serif;
    width: 50px;
    padding: 1%;
    font-weight: 800;
    height: 50px;
    border-radius: 50%;
    top: 30px;
    right: 10px;
    border: none;
    color: #fff;
  }
  #block4 div span:nth-child(2){
    width: 25%;
  }
  #block4 div span:nth-child(2) h2{
    top: 1px;
    right: 1px;
    font-size: 30px;
    width: 60px;
    height: 60px;
  }
  #block4 div span img{
    margin: 20px 0 10px 0;
    width: 80%;
  }
  #block4 div span h3{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Staatliches', cursive;
    color: white;
  }
  #block4 div span p{
    text-align: center;
    color: white;
    font-family: 'DM Sans', sans-serif;

  }
  #block4 div:last-child{
    width: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 5%;
  }
  #block4 div:last-child p{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Staatliches', cursive;
    margin-right: 30px;
    font-weight: 800;
  }
  #block4 div:last-child #botonSiguientePartida_Fin{
    width: 100px;
    cursor: pointer;
    pointer-events: painted;
    transform: rotate(180deg);
    filter: invert(100%);

  }


  /* pagina de preguntas  */
  /* paginapreguntasNormales */
  #block5{
  justify-content: center;
  align-items: center;
flex-direction: unset;
  width: 100%;
  height: 43pc;
  background-image: url(../img/Tarjetas/fondo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  justify-content: space-around;
}
  #block5 #contenedorPregunta{
    width: 100%;
    display: flex;
    padding-left: 30px;
    justify-content: space-around;
  }
  #block5 #contenedorPregunta #imgTarjetaPregunta{
    position: relative;
  }
  #block5 #contenedorPregunta #imgTarjetaPregunta #textPregunta{
  position: absolute;
  top: 190px;
  left: 50px;
  max-width: 300px;
  font-family: 'DM Sans', sans-serif;
  color: rgb(75, 75, 75);
  font-weight: 800;
  font-size: 35px;
  text-align: center;
}

  #block5 #contenedorPregunta #imgTarjetaPregunta img{
    width: 400px;
    border-radius: 20px;
    pointer-events: none;

  }
  #block5 #contenedorPregunta #contenedorRespuestas{
    width: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  #block5 #contenedorPregunta #contenedorRespuestas .btn_Respuestas{
    width: 100%;
    display: flex;
    background-color: #fdfdfd;
    padding: 3%;
    text-align: center;
    justify-content: space-around;
    cursor: pointer;
    font-size: 20px;
    color: #244c76;
    border: none;
    font-weight: 800;
    font-family: 'DM Sans', sans-serif;;
    border-radius: 11px;
  }
  #block5 #contenedorPregunta #contenedorRespuestas button:hover{
    transform: scale(1.2);
    transition: transform .2s;
  }

#block5 #contenedorPregunta #imgJugadorPreguntado{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#block5 #contenedorPregunta #imgJugadorPreguntado h1,
#block5 #contenedorPregunta #imgJugadorPreguntado p{
  background-color: #244c76c1;
  border: 1px white solid;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  padding: 5%;
  width: 70%;
  margin: 0 auto;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  border-radius: 11px;
}
#block5 #contenedorPregunta #imgJugadorPreguntado #continuarJuego_Pregunta{
  display: none;
  width: 100px;
  height: 50px;
  cursor: pointer;
  transform: rotate(180deg);
  filter: invert(100%);
  pointer-events: painted;
}
#block5 #contenedorPregunta #imgJugadorPreguntado #continuarJuego_Pregunta:hover{
  transform: rotate(180deg);
}