/* funciones mostrar y ocultar paginas */
.mostrar{
  display: block;
}
.mostrar_ModeFlex{
  display: block;
  display: flex;
}
.ocultar{
  display: none;
}
/* estilos universales */
body{
  height: 100%;
}
/* estilo pantalla principal */
#block1{
  background-color: rgb(199, 199, 255);
  padding: 5%;
  height: 100%;
}
 
#block1 div:first-child{
  background-color: rgb(255, 255, 255) ;
  display:flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 11px;
  text-align: center;
  padding: 2%;
  width: 1000px;
  height: 500px;
  margin: 0 auto;
}
 /* seleccion de cantidad jugadores  */


    /* presentacion de avatares disponibles  */
  #block1 div:first-child #contenedorPerfilesParticipantes{
    display: flex;
    margin: 10px 0 30px 0;
    justify-content: space-around;
  }
  #block1 div:first-child #contenedorPerfilesParticipantes span{
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
    width: 200px;
    height: 150px;
  }
  #block1 div:first-child #contenedorPerfilesParticipantes span img{
    width: 100px;
  }

/* estilos de tabla de juegos */
#tableGame {
    margin-top: 1pc;
    border-collapse: collapse;
    width: 100%;
  }
  #dado {
    width: 90px;
    height: 100px;
    cursor: pointer;
    font-size: 18px;
  }
  #dado img{
    width: 80px;
  }
  
  #tableGame td {
    border: 1px solid #000;
    text-align: center;
    position: relative;
    justify-content: center;
    width: 100px;
    height: 100px;
    min-height: 100px;

  }
  #tableGame  .corner {
    /* background-color: #fddf36; */
    width: 200px;
    height: 100px;
  }

  #tableGame #position0{
    background-image: url(../img/go.jpeg);
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: 40px;
  }
  /* posicion de fichas en casillas */
  #tableGame td .iconsPlayers{
    width: 50px;
    position: absolute;
  }
  #tableGame td #iconPlayer1{
    top: 5px;
    left: 15px;
   
  }
  #tableGame td #iconPlayer2{
    top: 50px;
    right: 15px;
  }
  #tableGame td #iconPlayer3{
    bottom: 5px;
    left: 15px;
  }
  #tableGame td #iconPlayer4{
    bottom: 50px;
    right: 15px;
  }



  #tableGame .espaciosVacios{
      border:none
  }
  
  #tableGame .property {
    background-color: #ff7948;
    color: #fff;
  }
  